
#DetailWrap {
    width: 100%;
}

#titleWrap {
    width : 100%;
    position: relative;
}


#titleText {
    position: absolute;
    color: whitesmoke;
    top: 0%;
    left: 5%;
}

#detailContainer {
    position: absolute;
    width: 80%;
    height: 80%;
    border-radius: 10px;
    top: 18%;
    left: 5%;
    background-color: rgb(0, 0, 0, 0.5);
    padding: 10px;
}

#titleBg {
    width: 100%;
    object-fit: cover;
}

#cover {
    border-radius: 10px;
}

